<% content_for :title, "About" %>

<h1>About</h1>

<h6> Created by Atish Patel </h6>
<a href="http://www.thish.me"> Homepage </a>
<br>

<p> Penguino is a social media platform that is the anti-thesis to Twitter
  and Facebook. No Politics, just penguins. No ads, just penguins. No conspiracy theories,
  unless they are about penguins. You get the gist.</p>

<p> I might make a text classifier to enforce this, but until then... Honor system! </p>
