<div class="center jumbotron">
  <h1>Welcome to Penguino!</h1>

  <h2>
    The social media platform for penguin enthusiasts
  </h2>

  <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
  <h4> or </h4>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<!--<%= link_to image_tag("Penguin-Logo.jpg", alt: "Penguin logo")%>-->
