// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//variables n mixins
$button_color: #337ab7;
$off_white: #f7eee0;
$logo_yellow: #c8ca4e;
$off_black: #373830;
$border: #dddfe2;

// show left panel
aside {
  text-align: center;
  padding: 30px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid $border;
  margin: 29px 15px 0 0;
}

.prof_pic {
  width: 200px;
  height: 200px;
  border: 0;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 5px black;
}

.user_info {
  color: $off_black;
}

#connections {
  display: flex;
  margin-bottom: 20px;
  border: 2px solid black;
  #followers, #following {
    padding: 10px;
    margin: auto;
    flex: 1;
    border: 1px solid black;
    header {
      font-weight: 600;
      color: black;
    }
    content {
      font-weight: 300;
      color: $logo_yellow;
    }
  }
}

.button:link {
  background-color: $border;
  color: white;
  padding: 40px 40px;
  border-radius: 2px;
}

.button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

//show main content

#content {
  background-color: none;
  padding: 0 30px;
  border-radius: 10px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

#create_post {
  flex: 1;
  order: 1;
}

#user_post_list {
  flex: 1;
  order: 2;
  margin: auto;
  width: 100%;
}

.user_posts {
  background-color: white;
  margin: 30px 0;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid $border;
  header {
    color: $logo_yellow;
    height: 40px;
    text-align: center;
    font-size: 20;
    font-weight: 800;
    margin-bottom: 15px;
  }
  section {
    font-weight: 300;
    padding: 0 15px;
  }
  footer {
    font-size: 10px;
    width: 40%;
  }
}

//index styles

.users li {
  border-bottom: 1px solid $border;
  display: flex;
  list-style: none;
  a {
    margin: auto;
    float: right;
  }
}

.prof_index {
  padding: 2px;
  border: 2px double black;
  width: 150px;
  height: 150px;
}
